<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antwickler.thearokaya">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main menu -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Check.CheckElemental"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_check_elemental"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Basic.BasicDisease"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Food.FoodHerbal"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Age.AgeDisease"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Hospital.Hospital"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_5"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Store.Store"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_6"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 4 Elemental -->
        <activity
            android:name=".Check.CheckEarth"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/element_1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Check.CheckWater"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/element_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Check.CheckWind"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/element_3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Check.CheckFire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/element_4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Basic Disease -->
        <activity
            android:name=".Basic.BasicEarth"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/lbd_1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Basic.BasicWater"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/lbd_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Basic.BasicWind"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/lbd_3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Basic.BasicFire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/lbd_4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Post -->
        <activity
            android:name=".Post.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Post.Register"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Post.ForgetEditPassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Post.Post"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/menu_7"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>